 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

// Custom Styles
body {
  background: #fafafa;
  font-family: 'Shadows Into Light', cursive;  color: #333;
  font-size: 1.75em;
}

.container{
  height:600px;
  max-width:35%;
  margin:100px auto 0 auto;
  background-color:#F0F58C;
  box-shadow:5px 5px 5px ;
  background-color:#F0F58C;
}

.formAlign{
  text-align:center;

  h1:{
    border-bottom: red;
  }
}

span:hover {
  color:#C9452E;
  margin-right:0;
}

.removeTask{
float:right;
}

.todo_list ul{
  width:90%;
  //margin: 10px;
  list-style-type: none;
  float:left;
}
