 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';


$mobile: new-breakpoint(max-width 360px 1);

// Custom Styles
body {
  @include outer-container;

background-image: url(http://cl.ly/image/3w02430E2z0k/6376513135_2acc82dd87_b.jpg);
  font-family: 'Shadows Into Light', cursive;  color: #333;
  letter-spacing: 1.5px;
  font-size: 2em;
  @media screen and (max-width: 360px){
    font-size: 1em;
  }
}

.container{
  @include span-columns(6);
    @include shift(3);
  @include media($mobile) {
    @include span-columns(6);
      @include shift(0);
    }
  height:700px;
  background-color:#F0F58C;
  box-shadow:5px 5px 5px ;
  @media screen and (max-width: 360px){
    max-width: 360px;
    margin: auto;
  }
}
.formAlign{
  text-align:center;
  img{
    height: 20px;
    margin-top:40px;
  }
  h1{
    margin-top: 0;
  }
  @media screen and (max-width: 360px){
    img{
        display:none;
    }
  }
}

input{
  width: 75%;
}

span:hover {
  color:#C9452E;
  margin-right:0;
}

.removeTask{
  float:right;
}

.todo_list{
  margin-top:20px;
}

.add_class{
  width:90%;
  margin-left: 35px;
  float:left;
  @media screen and (max-width: 360px){
    margin-left: 10px;
  }
}
